<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kevin.cloud.department.repository.DepartmentRepository">
  <resultMap id="DepartmentResult" type="com.kevin.cloud.department.api.model.Department">
    <id column="ID" property="id" jdbcType="VARCHAR" javaType="String"/>
    <result column="CODE" property="code" jdbcType="VARCHAR" javaType="String"/>
    <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" javaType="String"/>
    <result column="CREATED_DATE" property="createdDate" jdbcType="VARCHAR" javaType="Date"/>
    <result column="UPDATED_DATE" property="updatedDate" jdbcType="VARCHAR" javaType="Date"/>
  </resultMap>

  <select id="getDepartmentByDepartment" parameterType="map" resultMap="DepartmentResult">
    SELECT * FROM DEPARTMENT WHERE ID=#{id};
  </select>


  <select id="selectByPageNumSize"  resultMap="DepartmentResult">
    SELECT * FROM DEPARTMENT
  </select>

</mapper>